.box {
  width: 20%;
  height: 300px;
  border-width: 3px;
  border-color: black;
  background-color: lightpink;
}

.title{
  background-color: orange;
}

.order {
  width: 50%;
  height: 60%;
}

.container {
  height : 100%;
  width: 80%;
}

