<div class = "order" >
  <div style="margin-left: 15%">
    <label>Input vegetable</label>
    <br>
    <input style = "width: 80%" type = "text" [(ngModel)]="vegetable">
    <br>
    <label>Input meat</label>
    <br>
    <input style = "width: 80%" type = "text" [(ngModel)]="meat">
    <br>
  </div>
  <div style="display: flex; justify-content: space-around;">
    <button class = "button" (click) = "setOrder()">Submit</button>
    <button class = "button" (click) = "clear()">Clear</button>
  </div>
</div>

<div class = "box">
  <div  *ngIf="order && !start" >
    You order is {{vegetable}} and {{meat}}
  </div>
  <div  *ngIf = "!order && !start">
    Wrong order. Please order again
  </div>
  <div  *ngIf = "start">
    Please order!!
  </div>
</div>



